<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hey {{ username }}</title>
    <style>
        #Name {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 250%;
        }

        @media screen and (min-width: 768px) {
            #left {
                position: fixed;
                width: 30vw;
            }
        }
    </style>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
      $(function(){
        $('#search_bar').bind('keyup', function(){
          $.getJSON($SCRIPT_ROOT + '/search_people', {
            search : $('input[name="search_name"]').val()
          }, function(data){
            console.log(Object.keys(data))
            //console.log(data.length)
            var s = []
            document.getElementById('results').innerHTML = ""
            for (var x = 0; x < Object.keys(data).length; x++)
            {
              //console.log(Object.keys(data)[x]);
              document.getElementById('results').innerHTML = document.getElementById("results").innerHTML + "<a class='dropdown-item btn-success text-success' style='font-size:1.5vw;' href='../../{{ username }}" + "/search/" + Object.keys(data)[x] + "/profile'>" +  Object.keys(data)[x] + "</a>";
              //document.getElementsByClassName('dropdown-menu').innerHTML = document.getElementsByClassName('dropdown-menu').innerHTML + "<a class='dropdown-item'>" +  data[Object.keys(data)[x][0]] + "</a>";
            };
            console.log(document.getElementById('results').innerHTML);
            $('#results').style.display = 'block';
          });
          return false;
        });
      });
    </script>

</head>

<body style="background-color:papayawhip">
    <nav class="navbar bg-success navbar-expand-md navbar-dark sticky-top">
        <div class="container">
            <a href="/{{ username }}" class="navbar-brand" id="Name">Let's Split</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <form action="{{ request.path }}" method="post" class="ml-auto">
                        <li class="nav-item">
                            <div class="form-group">
                                <button type="submit" name="friends" class="btn btn-success btn-lg btn-block">Friends</button>
                            </div>
                        </li>
                    </form>
                    <form action="{{ request.path }}" method="post" class="ml-auto">
                        <li class="nav-item">
                            <div class="form-group">
                                <button type="submit" name="groups" class="btn btn-success btn-lg btn-block">Groups</button>
                            </div>
                        </li>
                    </form>
                    <form action="{{ request.path }}" method="post" class="ml-auto">
                        <li class="nav-item">
                            <div class="form-group">
                                <button type="submit" name="log" class="btn btn-success btn-lg btn-block">History</button>
                            </div>
                        </li>
                    </form>
                </ul>
                <form action="{{ request.path }}" method="post" class="ml-auto">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="form-group">
                                <input type="text" name="search_name" class="form-control form-control-lg" placeholder="Search....." id="search_bar">
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="form-group">
                                <button type="submit" name="search" class="btn btn-success btn-lg btn-block"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="form-group">
                                <button type="submit" name="logout" class="btn btn-success btn-lg btn-block">Log Out</button>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
    <div id="results" style="display:hidden;" class="text-center text-white">

    </div>
    <!--<div class="modal fade" id="AddTransactionModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add a Transaction</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="username" name="from_user" class="form-control" placeholder="From" required>
                        </div>
                        <div class="form-group">
                            <input type="username" name="to_user" class="form-control" placeholder="To" required>
                        </div>
                        <div class="form-group">
                            <input type="amount" name="amount" class="form-control" placeholder="Amount" required>
                        </div>
                    </div>
                    {% if message and message != "Oops... No results found" and message != "Not Your Friend" %}
                    <div class="alert alert-danger">
                        {{ message }}
                        <script>
                            $('#AddTransactionModal').modal('show')
                        </script>
                    </div>
                    {% endif %}
                    <div class="modal-footer">
                        <button type="submit" name="add_transaction" class="btn btn-success btn-block">Add this Transaction</button>
                    </div>
                </form>
            </div>
        </div>
    </div>-->

    {% block content %}{% endblock %}
</body>

</html>
