{% extends "base.html" %} {% block content %}
<div class="container" style="margin-top:3vw">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-6" id="left">
            <div class="card bg-primary text-light">
                <img src="../../../static/{{query_user.profile_pic}}" alt="Profile Picture" class="card-img-top img-thumbnail">
                <div class="card-body">
                    <h4 class="card-title card-header">
                        {{query_user.name}}
                    </h4>
                    <h5 class="card-text card-body">
                        {{query_user.bio}}<br><br> {{query_user.DOB}}
                    </h5>
                    <h4 class="card-title card-footer">
                        {{query_user.email}}
                    </h4>
                </div>
            </div>
        </div>
        <div class="col offset-md-6">
            <h3 class="text-center text-light">Your Transactions with {{ query_user.name }}</h3><br><br>
            <h4 class="text-center text-light">Unsettled Transactions</h4>
            <div class="table-responsive">
                <table class="table table-triped text-white">
                    <thead>
                        <tr>
                            <th class="text-center">Amount</th>
                            <th class="text-center">Settle</th>
                            <th class="text-center">Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for friend in to_list %} {% if friend.to_user == username and friend.settled == "0" %}
                        <tr class="clickable btn-primary" data-toggle="collapse" data-target="#{{friend.id}}">
                            <td class="text-center">-{{ friend.amount }}</td>
                            <td class="text-center">You cannot settle this</td>
                            <td class="text-center">{{ friend.date_created }}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div id="{{friend.id}}" class="collapse">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repudiandae, ipsa ex vero deleniti nostrum alias laborum aut hic adipisci sunt repellat cumque corrupti? Culpa vero animi accusantium recusandae perferendis.
                                </div>
                            </td>
                        </tr>
                        {% endif %} {% endfor %} {% for friend in from_list %} {% if friend.from_user == username and friend.settled == "0" %}
                        <tr class="clickable btn-primary" data-toggle="collapse" data-target="#{{friend.id}}">
                            <td class="text-center">+{{ friend.amount }}</t>
                                <td>
                                    <form action="{{ request.path }}" method="post">
                                        <input type="text" name="primary_id" value="{{ friend.id }}" class="form-control form-control-lg" style="display:none">
                                        <button type="submit" name="settle" class="btn btn-primary btn-sm btn-block bg-primary">Settle</button>
                                    </form>
                                </td>
                                <td class="text-center">{{ friend.date_created }}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div id="{{friend.id}}" class="collapse">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repudiandae, ipsa ex vero deleniti nostrum alias laborum aut hic adipisci sunt repellat cumque corrupti? Culpa vero animi accusantium recusandae perferendis.
                                </div>
                            </td>
                        </tr>
                        {% endif %} {% endfor %}
                    </tbody>
                </table>
            </div><br>
            <h4 class="text-center text-light">Settled Transactions</h4>
            <div class="table-responsive">
                <table class="table table-striped text-light">
                    <thead>
                        <tr>
                            <th class="text-center">Amount</th>
                            <th class="text-center">Created On</th>
                            <th class="text-center">Settled On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for friend in to_list %} {% if friend.to_user == username and friend.settled == "1" %}
                        <tr class="clickable btn-primary" data-toggle="collapse" data-target="#{{friend.id}}">
                            <td class="text-center">-{{ friend.amount }}</td>
                            <td class="text-center">{{ friend.date_created }}</td>
                            <td class="text-center">{{ friend.date_settled }}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div id="{{friend.id}}" class="collapse">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repudiandae, ipsa ex vero deleniti nostrum alias laborum aut hic adipisci sunt repellat cumque corrupti? Culpa vero animi accusantium recusandae perferendis.
                                </div>
                            </td>
                        </tr>
                        {% endif %} {% endfor %} {% for friend in from_list %} {% if friend.from_user == username and friend.settled == "1" %}
                        <tr class="clickable btn-primary" data-toggle="collapse" data-target="#{{friend.id}}">
                            <td class="text-center">+{{ friend.amount }}</td>
                            <td class="text-center">{{ friend.date_created }}</td>
                            <td class="text-center">{{ friend.date_settled }}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div id="{{friend.id}}" class="collapse">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repudiandae, ipsa ex vero deleniti nostrum alias laborum aut hic adipisci sunt repellat cumque corrupti? Culpa vero animi accusantium recusandae perferendis.
                                </div>
                            </td>
                        </tr>
                        {% endif %} {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}